.app {
  width: 580px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.cta {
  display: flex;
  gap: 12px;
  align-items: center;
}
